<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-binary.fir.im/a2a22c97b143a2faf430789f0ee85223e20b302d?auth_key=1581569008-0-0-1d97406d51c36bc5e72a68f9af9237f4]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <integer>0</integer>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-icon.fir.im/ee56126cdd51c5f457fa0e1e009b02518d480178?auth_key=1581569008-0-0-86be4e36cace1469c6a7970d27432ad2]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-icon.fir.im/ee56126cdd51c5f457fa0e1e009b02518d480178?auth_key=1581569008-0-0-86be4e36cace1469c6a7970d27432ad2]]></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>cn.xiaochuankeji.zuiyouLite-ih</string>
        <key>bundle-version</key>
        <string><![CDATA[2.1.5.106]]></string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string><![CDATA[皮皮-ih]]></string>
      </dict>
    </dict>
  </array>
</dict></plist>
